mat-dialog-actions {
  padding: 0 1.2rem 1.5rem;
  button {
    border-radius: 50px;
    margin-right: 12px;
    padding: 20px 30px;
    &.cancel-button {
      color: #484747;
      border: 1px solid #484747;
    }
    &.yes-button {
      background-color: #d8735b;
    }
  }
}
