mat-dialog-actions {
  padding: 0 var(--hero-space-5x) var(--hero-space-6x);
  button {
    border-radius: var(--hero-button-border-radius);
    margin-right: var(--hero-space-3x);
    padding: var(--hero-space-5x) var(--hero-space-7x);
  }
}
