.create-edit-container {
  padding: 30px 50px;

  .inputs-container {
    display: flex;

    .hero-image {
      width: 30%;
      min-height: 150px;
      max-height: 500px;
      object-fit: cover;
      object-position: top center;
    }
    .right-container {
      width: 70%;
      padding: 0 20px;
      .text-inputs-container {
        display: flex;
        flex-direction: column;
        gap: 20px;
      }
    }
  }

  mat-form-field {
    width: 100%;
  }

  .superpowers-container {
    display: flex;
    flex-direction: column;

    ul {
      margin: 5px 0;
      padding-left: 0;
      list-style-type: none;
      li {
        display: flex;
        align-items: center;
        margin: 5px 0px;
      }
    }

    .superpowers-input-container {
      display: flex;
      align-items: center;
      .add-button {
        padding: 20px 30px;
        margin-left: 5px;
        border-radius: 50px;
        color: #d8735b;
        border: 1px solid #d8735b;
      }
    }
  }

  .actions-container {
    button {
      border-radius: 50px;
      margin-right: 12px;
      padding: 20px 30px;
      &.cancel-button {
        color: #484747;
        border: 1px solid #484747;
      }
      &.save-button {
        background-color: #d8735b;
      }
    }
  }
}
