.hero-card {
  width: calc(var(--hero-space-10x) * 9);
  height: 100%;
  display: flex;
  border-radius: var(--hero-border-radius);
  box-shadow: none;
  justify-content: space-between;
  border: var(--hero-border-card);
  background-color: var(--hero-card-background-color);

  mat-card-title {
    font-size: var(--hero-fs-x-large);
  }

  h2 {
    margin-bottom: var(--hero-space-3x);
  }

  ul {
    margin-top: 0;
    padding-left: var(--hero-space-5x);
    text-transform: capitalize;

    .more-items-list {
      list-style-type: none;
      padding: 5px 0;
      text-decoration: underline;
    }
  }

  img {
    width: 100%;
    height: 15vw;
    padding: 1rem;
    min-height: calc(var(--hero-space-10x) * 4);
    object-fit: cover;
    object-position: top center;
  }

  .action-buttons-container {
    display: flex;
    justify-content: flex-end;
  }
}

@media (max-width: 768px) {
  .hero-card {
    width: calc(var(--hero-space-32x) * 2);
  }
}
