<mat-card class="hero-card">
  <mat-card-header>
    <!-- <div mat-card-avatar class="example-header-image"></div> -->
    <mat-card-title>{{ hero.name | titlecase }}</mat-card-title>
  </mat-card-header>
  <img
    mat-card-image
    [src]="hero.img"
    alt="Photo of {{ hero.name }}"
    (error)="hero.img = './assets/img/no-image.jpg'"
  />
  <mat-card-content>
    <h2>Superpowers</h2>
    <ul>
      <li *ngFor="let superPower of hero.superpowers">
        {{ superPower }}
      </li>
    </ul>
  </mat-card-content>
  <mat-card-actions class="action-buttons-container">
    <button mat-icon-button aria-label="Edit Hero" (click)="edit()">
      <mat-icon>edit</mat-icon>
    </button>
    <button mat-icon-button aria-label="Delete Hero" (click)="confirmDelete()">
      <mat-icon>delete</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
