.modal-container {
  width: 35vw;

  mat-dialog-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  mat-form-field {
    width: 100%;
  }

  .superpowers-container {
    display: flex;
    flex-direction: column;

    ul {
      margin: 5px 0;
      padding-left: 0;
      list-style-type: none;
      li {
        display: flex;
        align-items: center;
        margin: 5px 0px;
      }
    }

    .superpowers-input-container {
      display: flex;
      align-items: center;
      button {
        padding: 20px 10px;
        margin-left: 5px;
      }
    }
  }
}
