.heroes-container {
  padding: 30px 50px;

  .heroes-title-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 30px;

    .search-input {
      width: 90%;
      border-radius: 16px;
    }
  }

  .add-hero-button {
    position: fixed;
    z-index: 9;
    right: 5vw;
    bottom: 5vh;
    border-radius: 50%;
    box-shadow: var(--mdc-elevated-card-container-elevation);
    background-color: #d8735b;
    color: white;

    & > *[role="img"] {
      width: 32px;
      height: 32px;
      font-size: 32px;

      svg {
        width: 32px;
        height: 32px;
      }
    }

    .mat-mdc-button-touch-target {
      width: 32px !important;
      height: 32px !important;
    }
  }

  .heroes-list-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    gap: 40px 20px;
  }
}
