<div class="heroes-container">
  <button
    mat-fab
    color="basic"
    aria-label="Add button"
    matTooltip="Add new Hero to the list"
    class="add-hero-button"
    (click)="openDialog()"
  >
    <mat-icon>add</mat-icon>
  </button>
  <div class="heroes-title-container">
    <div class="heroes-title">
      <h1>Heroes</h1>
    </div>
    <mat-form-field class="search-input">
      <mat-label>Search by name</mat-label>
      <input matInput type="text" [(ngModel)]="searchByName" />
      <button
        matSuffix
        mat-icon-button
        aria-label="Clear"
        (click)="searchByName = ''"
        *ngIf="searchByName"
      >
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
  </div>
  <div class="heroes-list-container" *ngIf="heroes.length; else elseTemplate">
    <div *ngFor="let hero of heroes | filterByName : searchByName">
      <app-hero-card
        [hero]="hero"
        (editHero)="openDialog(hero)"
        (deleteHero)="deleteHero(hero)"
      />
    </div>
  </div>

  <ng-template #elseTemplate>
    <app-loader />
  </ng-template>
</div>
