html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  // background-color: #f5f5f5;
}

.heroes-title {
  width: 90%;
  margin: 20px 0;
  h1 {
    margin: 0;
    font-size: 2.2em;
    font-weight: 900;
    color: #d8735b;
  }
}
