html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.heroes-title {
  width: 90%;
  margin: var(--hero-space-5x) 0;
  h1 {
    margin: 0;
    font-size: var(--hero-fs-xx-large);
    font-weight: 900;
    color: var(--hero-primary-color);
  }
}

.success-dialog {
  .mat-simple-snackbar-action,
  .mat-mdc-snack-bar-action {
    color: var(--hero-primary-color) !important;
  }
}
