.heroes-container {
  padding: var(--hero-space-7x) var(--hero-space-12x);

  .heroes-title-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: var(--hero-space-7x);

    .search-input {
      width: 90%;
      border-radius: var(--hero-space-4x);
    }
  }

  .add-hero-button {
    position: fixed;
    z-index: 9;
    right: 5vw;
    bottom: 5vh;
    border-radius: 50%;
    box-shadow: var(--hero-button-shadow);

    & > *[role="img"] {
      width: var(--hero-space-8x);
      height: var(--hero-space-8x);
      font-size: var(--hero-space-8x);

      svg {
        width: var(--hero-space-8x);
        height: var(--hero-space-8x);
      }
    }

    .mat-mdc-button-touch-target {
      width: var(--hero-space-8x) !important;
      height: var(--hero-space-8x) !important;
    }
  }

  .heroes-list-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    gap: var(--hero-space-10x) var(--hero-space-5x);
  }
}
